@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css 註解*/
.box {
  margin-top: 10px;
}

marginBottom {
  margin-bottom: 20px;
}

body {
  margin: 10px 10px 10px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  background-color: #b4dcff;
}
body .wrapper {
  width: 100%;
  max-width: 1200px;
  background-color: rgb(248, 248, 248);
  margin: 0 auto;
  height: auto;
}
body .wrapper h1 {
  font-size: 70px;
}
body .index .title {
  color: aqua;
}
body .about .title {
  color: bisque;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #333;
}

.btn {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
}
.btn.default {
  background-color: #001aff;
}
.btn.default:hover {
  background-color: rgb(6, 0, 184);
}
.btn.error {
  background-color: #f20;
}
.btn.error:hover {
  background-color: rgb(156, 0, 8);
}
.btn.info {
  background-color: #78e0ff;
}
.btn.info:hover {
  background-color: rgb(0, 121, 148);
}

.clear {
  height: 1px;
}

.boxcenter {
  width: 400px;
  height: 400px;
  margin: 20px auto 0px;
  background-color: rgb(60, 254, 108);
}

.btn-default {
  background-color: #f95300;
  text-align: center;
  width: 100px;
  padding: 10px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2 all ease-in-out;
  margin: 0px auto 0px;
}
.btn-default:hover {
  background-color: #c64200;
}

.btn-default-xl {
  background-color: #00f100;
  text-align: center;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  color: #00ffee;
  cursor: pointer;
  transition: 0.2 all ease-in-out;
  margin: 0px auto 0px;
}
.btn-default-xl:hover {
  background-color: #00be00;
}

.btn-default-xxl {
  background-color: #f1f900;
  text-align: center;
  width: 500px;
  padding: 10px;
  font-size: 20px;
  color: rgb(255, 0, 234);
  cursor: pointer;
  transition: 0.2 all ease-in-out;
  margin: 0px auto 0px;
}
.btn-default-xxl:hover {
  background-color: #c0c600;
}

.wrapper_full {
  width: 100%;
}

.wrapper_fixed {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 800px) {
  .wrapper_fixed {
    width: 66%;
    margin: 0 auto;
  }
}
@media all and (max-width: 1024px) {
  .wrapper_fixed {
    width: 80%;
    margin: 0 auto;
  }
}
@media all and (max-width: 721px) {
  .wrapper_fixed {
    width: 100%;
  }
}

section {
  width: 1200px;
  margin: 0 auto;
  background-color: #003cff;
  min-height: 300px;
}
@media all and (max-width: 1024px) {
  section {
    width: 100%;
  }
}
@media all and (max-width: 721px) {
  section {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 120px;
    color: #f20;
  }
}
@media all and (max-width: 721px) {
  h1 {
    font-size: 70px;
    color: rgb(255, 0, 234);
  }
}
.default {
  width: 20px;
  height: 90px;
  font: 5px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 39px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
}

.text {
  font-size: 46px;
  font-weight: bold;
}

.a1 {
  margin: 1px;
}

.a2 {
  margin: 2px;
}

.a3 {
  margin: 3px;
}

.a4 {
  margin: 4px;
}

.a5 {
  margin: 5px;
}

.a6 {
  margin: 6px;
}

.a7 {
  margin: 7px;
}

.a8 {
  margin: 8px;
}

.a9 {
  margin: 9px;
}

.a10 {
  margin: 10px;
}

.top_1 {
  position: relative;
  top: 1px;
}

.top_2 {
  position: relative;
  top: 2px;
}

.top_3 {
  position: relative;
  top: 3px;
}

.top_4 {
  position: relative;
  top: 4px;
}

.top_5 {
  position: relative;
  top: 5px;
}

.top_6 {
  position: relative;
  top: 6px;
}

.top_7 {
  position: relative;
  top: 7px;
}

.top_8 {
  position: relative;
  top: 8px;
}

.top_9 {
  position: relative;
  top: 9px;
}

.top_10 {
  position: relative;
  top: 10px;
}

.top_11 {
  position: relative;
  top: 11px;
}

.top_12 {
  position: relative;
  top: 12px;
}

.top_13 {
  position: relative;
  top: 13px;
}

.top_14 {
  position: relative;
  top: 14px;
}

.top_15 {
  position: relative;
  top: 15px;
}

.top_16 {
  position: relative;
  top: 16px;
}

.top_17 {
  position: relative;
  top: 17px;
}

.top_18 {
  position: relative;
  top: 18px;
}

.top_19 {
  position: relative;
  top: 19px;
}

.top_20 {
  position: relative;
  top: 20px;
}

.top_21 {
  position: relative;
  top: 21px;
}

.top_22 {
  position: relative;
  top: 22px;
}

.top_23 {
  position: relative;
  top: 23px;
}

.top_24 {
  position: relative;
  top: 24px;
}

.top_25 {
  position: relative;
  top: 25px;
}

.top_26 {
  position: relative;
  top: 26px;
}

.top_27 {
  position: relative;
  top: 27px;
}

.top_28 {
  position: relative;
  top: 28px;
}

.top_29 {
  position: relative;
  top: 29px;
}

.top_30 {
  position: relative;
  top: 30px;
}

.top_31 {
  position: relative;
  top: 31px;
}

.top_32 {
  position: relative;
  top: 32px;
}

.top_33 {
  position: relative;
  top: 33px;
}

.top_34 {
  position: relative;
  top: 34px;
}

.top_35 {
  position: relative;
  top: 35px;
}

.top_36 {
  position: relative;
  top: 36px;
}

.top_37 {
  position: relative;
  top: 37px;
}

.top_38 {
  position: relative;
  top: 38px;
}

.top_39 {
  position: relative;
  top: 39px;
}

.top_40 {
  position: relative;
  top: 40px;
}

.top_41 {
  position: relative;
  top: 41px;
}

.top_42 {
  position: relative;
  top: 42px;
}

.top_43 {
  position: relative;
  top: 43px;
}

.top_44 {
  position: relative;
  top: 44px;
}

.top_45 {
  position: relative;
  top: 45px;
}

.top_46 {
  position: relative;
  top: 46px;
}

.top_47 {
  position: relative;
  top: 47px;
}

.top_48 {
  position: relative;
  top: 48px;
}

.top_49 {
  position: relative;
  top: 49px;
}

.top_50 {
  position: relative;
  top: 50px;
}

.top_51 {
  position: relative;
  top: 51px;
}

.top_52 {
  position: relative;
  top: 52px;
}

.top_53 {
  position: relative;
  top: 53px;
}

.top_54 {
  position: relative;
  top: 54px;
}

.top_55 {
  position: relative;
  top: 55px;
}

.top_56 {
  position: relative;
  top: 56px;
}

.top_57 {
  position: relative;
  top: 57px;
}

.top_58 {
  position: relative;
  top: 58px;
}

.top_59 {
  position: relative;
  top: 59px;
}

.top_60 {
  position: relative;
  top: 60px;
}

.top_61 {
  position: relative;
  top: 61px;
}

.top_62 {
  position: relative;
  top: 62px;
}

.top_63 {
  position: relative;
  top: 63px;
}

.top_64 {
  position: relative;
  top: 64px;
}

.top_65 {
  position: relative;
  top: 65px;
}

.top_66 {
  position: relative;
  top: 66px;
}

.top_67 {
  position: relative;
  top: 67px;
}

.top_68 {
  position: relative;
  top: 68px;
}

.top_69 {
  position: relative;
  top: 69px;
}

.top_70 {
  position: relative;
  top: 70px;
}

.top_71 {
  position: relative;
  top: 71px;
}

.top_72 {
  position: relative;
  top: 72px;
}

.top_73 {
  position: relative;
  top: 73px;
}

.top_74 {
  position: relative;
  top: 74px;
}

.top_75 {
  position: relative;
  top: 75px;
}

.top_76 {
  position: relative;
  top: 76px;
}

.top_77 {
  position: relative;
  top: 77px;
}

.top_78 {
  position: relative;
  top: 78px;
}

.top_79 {
  position: relative;
  top: 79px;
}

.top_80 {
  position: relative;
  top: 80px;
}

.top_81 {
  position: relative;
  top: 81px;
}

.top_82 {
  position: relative;
  top: 82px;
}

.top_83 {
  position: relative;
  top: 83px;
}

.top_84 {
  position: relative;
  top: 84px;
}

.top_85 {
  position: relative;
  top: 85px;
}

.top_86 {
  position: relative;
  top: 86px;
}

.top_87 {
  position: relative;
  top: 87px;
}

.top_88 {
  position: relative;
  top: 88px;
}

.top_89 {
  position: relative;
  top: 89px;
}

.top_90 {
  position: relative;
  top: 90px;
}

.top_91 {
  position: relative;
  top: 91px;
}

.top_92 {
  position: relative;
  top: 92px;
}

.top_93 {
  position: relative;
  top: 93px;
}

.top_94 {
  position: relative;
  top: 94px;
}

.top_95 {
  position: relative;
  top: 95px;
}

.top_96 {
  position: relative;
  top: 96px;
}

.top_97 {
  position: relative;
  top: 97px;
}

.top_98 {
  position: relative;
  top: 98px;
}

.top_99 {
  position: relative;
  top: 99px;
}

.top_100 {
  position: relative;
  top: 100px;
}

.top_101 {
  position: relative;
  top: 101px;
}

.top_102 {
  position: relative;
  top: 102px;
}

.top_103 {
  position: relative;
  top: 103px;
}

.top_104 {
  position: relative;
  top: 104px;
}

.top_105 {
  position: relative;
  top: 105px;
}

.top_106 {
  position: relative;
  top: 106px;
}

.top_107 {
  position: relative;
  top: 107px;
}

.top_108 {
  position: relative;
  top: 108px;
}

.top_109 {
  position: relative;
  top: 109px;
}

.top_110 {
  position: relative;
  top: 110px;
}

.top_111 {
  position: relative;
  top: 111px;
}

.top_112 {
  position: relative;
  top: 112px;
}

.top_113 {
  position: relative;
  top: 113px;
}

.top_114 {
  position: relative;
  top: 114px;
}

.top_115 {
  position: relative;
  top: 115px;
}

.top_116 {
  position: relative;
  top: 116px;
}

.top_117 {
  position: relative;
  top: 117px;
}

.top_118 {
  position: relative;
  top: 118px;
}

.top_119 {
  position: relative;
  top: 119px;
}

.top_120 {
  position: relative;
  top: 120px;
}

.top_121 {
  position: relative;
  top: 121px;
}

.top_122 {
  position: relative;
  top: 122px;
}

.top_123 {
  position: relative;
  top: 123px;
}

.top_124 {
  position: relative;
  top: 124px;
}

.top_125 {
  position: relative;
  top: 125px;
}

.top_126 {
  position: relative;
  top: 126px;
}

.top_127 {
  position: relative;
  top: 127px;
}

.top_128 {
  position: relative;
  top: 128px;
}

.top_129 {
  position: relative;
  top: 129px;
}

.top_130 {
  position: relative;
  top: 130px;
}

.top_131 {
  position: relative;
  top: 131px;
}

.top_132 {
  position: relative;
  top: 132px;
}

.top_133 {
  position: relative;
  top: 133px;
}

.top_134 {
  position: relative;
  top: 134px;
}

.top_135 {
  position: relative;
  top: 135px;
}

.top_136 {
  position: relative;
  top: 136px;
}

.top_137 {
  position: relative;
  top: 137px;
}

.top_138 {
  position: relative;
  top: 138px;
}

.top_139 {
  position: relative;
  top: 139px;
}

.top_140 {
  position: relative;
  top: 140px;
}

.top_141 {
  position: relative;
  top: 141px;
}

.top_142 {
  position: relative;
  top: 142px;
}

.top_143 {
  position: relative;
  top: 143px;
}

.top_144 {
  position: relative;
  top: 144px;
}

.top_145 {
  position: relative;
  top: 145px;
}

.top_146 {
  position: relative;
  top: 146px;
}

.top_147 {
  position: relative;
  top: 147px;
}

.top_148 {
  position: relative;
  top: 148px;
}

.top_149 {
  position: relative;
  top: 149px;
}

.top_150 {
  position: relative;
  top: 150px;
}

.top_151 {
  position: relative;
  top: 151px;
}

.top_152 {
  position: relative;
  top: 152px;
}

.top_153 {
  position: relative;
  top: 153px;
}

.top_154 {
  position: relative;
  top: 154px;
}

.top_155 {
  position: relative;
  top: 155px;
}

.top_156 {
  position: relative;
  top: 156px;
}

.top_157 {
  position: relative;
  top: 157px;
}

.top_158 {
  position: relative;
  top: 158px;
}

.top_159 {
  position: relative;
  top: 159px;
}

.top_160 {
  position: relative;
  top: 160px;
}

.top_161 {
  position: relative;
  top: 161px;
}

.top_162 {
  position: relative;
  top: 162px;
}

.top_163 {
  position: relative;
  top: 163px;
}

.top_164 {
  position: relative;
  top: 164px;
}

.top_165 {
  position: relative;
  top: 165px;
}

.top_166 {
  position: relative;
  top: 166px;
}

.top_167 {
  position: relative;
  top: 167px;
}

.top_168 {
  position: relative;
  top: 168px;
}

.top_169 {
  position: relative;
  top: 169px;
}

.top_170 {
  position: relative;
  top: 170px;
}

.top_171 {
  position: relative;
  top: 171px;
}

.top_172 {
  position: relative;
  top: 172px;
}

.top_173 {
  position: relative;
  top: 173px;
}

.top_174 {
  position: relative;
  top: 174px;
}

.top_175 {
  position: relative;
  top: 175px;
}

.top_176 {
  position: relative;
  top: 176px;
}

.top_177 {
  position: relative;
  top: 177px;
}

.top_178 {
  position: relative;
  top: 178px;
}

.top_179 {
  position: relative;
  top: 179px;
}

.top_180 {
  position: relative;
  top: 180px;
}

.top_181 {
  position: relative;
  top: 181px;
}

.top_182 {
  position: relative;
  top: 182px;
}

.top_183 {
  position: relative;
  top: 183px;
}

.top_184 {
  position: relative;
  top: 184px;
}

.top_185 {
  position: relative;
  top: 185px;
}

.top_186 {
  position: relative;
  top: 186px;
}

.top_187 {
  position: relative;
  top: 187px;
}

.top_188 {
  position: relative;
  top: 188px;
}

.top_189 {
  position: relative;
  top: 189px;
}

.top_190 {
  position: relative;
  top: 190px;
}

.top_191 {
  position: relative;
  top: 191px;
}

.top_192 {
  position: relative;
  top: 192px;
}

.top_193 {
  position: relative;
  top: 193px;
}

.top_194 {
  position: relative;
  top: 194px;
}

.top_195 {
  position: relative;
  top: 195px;
}

.top_196 {
  position: relative;
  top: 196px;
}

.top_197 {
  position: relative;
  top: 197px;
}

.top_198 {
  position: relative;
  top: 198px;
}

.top_199 {
  position: relative;
  top: 199px;
}

.top_200 {
  position: relative;
  top: 200px;
}

.left_1 {
  position: relative;
  left: 1px;
}

.left_2 {
  position: relative;
  left: 2px;
}

.left_3 {
  position: relative;
  left: 3px;
}

.left_4 {
  position: relative;
  left: 4px;
}

.left_5 {
  position: relative;
  left: 5px;
}

.left_6 {
  position: relative;
  left: 6px;
}

.left_7 {
  position: relative;
  left: 7px;
}

.left_8 {
  position: relative;
  left: 8px;
}

.left_9 {
  position: relative;
  left: 9px;
}

.left_10 {
  position: relative;
  left: 10px;
}

.left_11 {
  position: relative;
  left: 11px;
}

.left_12 {
  position: relative;
  left: 12px;
}

.left_13 {
  position: relative;
  left: 13px;
}

.left_14 {
  position: relative;
  left: 14px;
}

.left_15 {
  position: relative;
  left: 15px;
}

.left_16 {
  position: relative;
  left: 16px;
}

.left_17 {
  position: relative;
  left: 17px;
}

.left_18 {
  position: relative;
  left: 18px;
}

.left_19 {
  position: relative;
  left: 19px;
}

.left_20 {
  position: relative;
  left: 20px;
}

.left_21 {
  position: relative;
  left: 21px;
}

.left_22 {
  position: relative;
  left: 22px;
}

.left_23 {
  position: relative;
  left: 23px;
}

.left_24 {
  position: relative;
  left: 24px;
}

.left_25 {
  position: relative;
  left: 25px;
}

.left_26 {
  position: relative;
  left: 26px;
}

.left_27 {
  position: relative;
  left: 27px;
}

.left_28 {
  position: relative;
  left: 28px;
}

.left_29 {
  position: relative;
  left: 29px;
}

.left_30 {
  position: relative;
  left: 30px;
}

.left_31 {
  position: relative;
  left: 31px;
}

.left_32 {
  position: relative;
  left: 32px;
}

.left_33 {
  position: relative;
  left: 33px;
}

.left_34 {
  position: relative;
  left: 34px;
}

.left_35 {
  position: relative;
  left: 35px;
}

.left_36 {
  position: relative;
  left: 36px;
}

.left_37 {
  position: relative;
  left: 37px;
}

.left_38 {
  position: relative;
  left: 38px;
}

.left_39 {
  position: relative;
  left: 39px;
}

.left_40 {
  position: relative;
  left: 40px;
}

.left_41 {
  position: relative;
  left: 41px;
}

.left_42 {
  position: relative;
  left: 42px;
}

.left_43 {
  position: relative;
  left: 43px;
}

.left_44 {
  position: relative;
  left: 44px;
}

.left_45 {
  position: relative;
  left: 45px;
}

.left_46 {
  position: relative;
  left: 46px;
}

.left_47 {
  position: relative;
  left: 47px;
}

.left_48 {
  position: relative;
  left: 48px;
}

.left_49 {
  position: relative;
  left: 49px;
}

.left_50 {
  position: relative;
  left: 50px;
}

.left_51 {
  position: relative;
  left: 51px;
}

.left_52 {
  position: relative;
  left: 52px;
}

.left_53 {
  position: relative;
  left: 53px;
}

.left_54 {
  position: relative;
  left: 54px;
}

.left_55 {
  position: relative;
  left: 55px;
}

.left_56 {
  position: relative;
  left: 56px;
}

.left_57 {
  position: relative;
  left: 57px;
}

.left_58 {
  position: relative;
  left: 58px;
}

.left_59 {
  position: relative;
  left: 59px;
}

.left_60 {
  position: relative;
  left: 60px;
}

.left_61 {
  position: relative;
  left: 61px;
}

.left_62 {
  position: relative;
  left: 62px;
}

.left_63 {
  position: relative;
  left: 63px;
}

.left_64 {
  position: relative;
  left: 64px;
}

.left_65 {
  position: relative;
  left: 65px;
}

.left_66 {
  position: relative;
  left: 66px;
}

.left_67 {
  position: relative;
  left: 67px;
}

.left_68 {
  position: relative;
  left: 68px;
}

.left_69 {
  position: relative;
  left: 69px;
}

.left_70 {
  position: relative;
  left: 70px;
}

.left_71 {
  position: relative;
  left: 71px;
}

.left_72 {
  position: relative;
  left: 72px;
}

.left_73 {
  position: relative;
  left: 73px;
}

.left_74 {
  position: relative;
  left: 74px;
}

.left_75 {
  position: relative;
  left: 75px;
}

.left_76 {
  position: relative;
  left: 76px;
}

.left_77 {
  position: relative;
  left: 77px;
}

.left_78 {
  position: relative;
  left: 78px;
}

.left_79 {
  position: relative;
  left: 79px;
}

.left_80 {
  position: relative;
  left: 80px;
}

.left_81 {
  position: relative;
  left: 81px;
}

.left_82 {
  position: relative;
  left: 82px;
}

.left_83 {
  position: relative;
  left: 83px;
}

.left_84 {
  position: relative;
  left: 84px;
}

.left_85 {
  position: relative;
  left: 85px;
}

.left_86 {
  position: relative;
  left: 86px;
}

.left_87 {
  position: relative;
  left: 87px;
}

.left_88 {
  position: relative;
  left: 88px;
}

.left_89 {
  position: relative;
  left: 89px;
}

.left_90 {
  position: relative;
  left: 90px;
}

.left_91 {
  position: relative;
  left: 91px;
}

.left_92 {
  position: relative;
  left: 92px;
}

.left_93 {
  position: relative;
  left: 93px;
}

.left_94 {
  position: relative;
  left: 94px;
}

.left_95 {
  position: relative;
  left: 95px;
}

.left_96 {
  position: relative;
  left: 96px;
}

.left_97 {
  position: relative;
  left: 97px;
}

.left_98 {
  position: relative;
  left: 98px;
}

.left_99 {
  position: relative;
  left: 99px;
}

.left_100 {
  position: relative;
  left: 100px;
}

.left_101 {
  position: relative;
  left: 101px;
}

.left_102 {
  position: relative;
  left: 102px;
}

.left_103 {
  position: relative;
  left: 103px;
}

.left_104 {
  position: relative;
  left: 104px;
}

.left_105 {
  position: relative;
  left: 105px;
}

.left_106 {
  position: relative;
  left: 106px;
}

.left_107 {
  position: relative;
  left: 107px;
}

.left_108 {
  position: relative;
  left: 108px;
}

.left_109 {
  position: relative;
  left: 109px;
}

.left_110 {
  position: relative;
  left: 110px;
}

.left_111 {
  position: relative;
  left: 111px;
}

.left_112 {
  position: relative;
  left: 112px;
}

.left_113 {
  position: relative;
  left: 113px;
}

.left_114 {
  position: relative;
  left: 114px;
}

.left_115 {
  position: relative;
  left: 115px;
}

.left_116 {
  position: relative;
  left: 116px;
}

.left_117 {
  position: relative;
  left: 117px;
}

.left_118 {
  position: relative;
  left: 118px;
}

.left_119 {
  position: relative;
  left: 119px;
}

.left_120 {
  position: relative;
  left: 120px;
}

.left_121 {
  position: relative;
  left: 121px;
}

.left_122 {
  position: relative;
  left: 122px;
}

.left_123 {
  position: relative;
  left: 123px;
}

.left_124 {
  position: relative;
  left: 124px;
}

.left_125 {
  position: relative;
  left: 125px;
}

.left_126 {
  position: relative;
  left: 126px;
}

.left_127 {
  position: relative;
  left: 127px;
}

.left_128 {
  position: relative;
  left: 128px;
}

.left_129 {
  position: relative;
  left: 129px;
}

.left_130 {
  position: relative;
  left: 130px;
}

.left_131 {
  position: relative;
  left: 131px;
}

.left_132 {
  position: relative;
  left: 132px;
}

.left_133 {
  position: relative;
  left: 133px;
}

.left_134 {
  position: relative;
  left: 134px;
}

.left_135 {
  position: relative;
  left: 135px;
}

.left_136 {
  position: relative;
  left: 136px;
}

.left_137 {
  position: relative;
  left: 137px;
}

.left_138 {
  position: relative;
  left: 138px;
}

.left_139 {
  position: relative;
  left: 139px;
}

.left_140 {
  position: relative;
  left: 140px;
}

.left_141 {
  position: relative;
  left: 141px;
}

.left_142 {
  position: relative;
  left: 142px;
}

.left_143 {
  position: relative;
  left: 143px;
}

.left_144 {
  position: relative;
  left: 144px;
}

.left_145 {
  position: relative;
  left: 145px;
}

.left_146 {
  position: relative;
  left: 146px;
}

.left_147 {
  position: relative;
  left: 147px;
}

.left_148 {
  position: relative;
  left: 148px;
}

.left_149 {
  position: relative;
  left: 149px;
}

.left_150 {
  position: relative;
  left: 150px;
}

.left_151 {
  position: relative;
  left: 151px;
}

.left_152 {
  position: relative;
  left: 152px;
}

.left_153 {
  position: relative;
  left: 153px;
}

.left_154 {
  position: relative;
  left: 154px;
}

.left_155 {
  position: relative;
  left: 155px;
}

.left_156 {
  position: relative;
  left: 156px;
}

.left_157 {
  position: relative;
  left: 157px;
}

.left_158 {
  position: relative;
  left: 158px;
}

.left_159 {
  position: relative;
  left: 159px;
}

.left_160 {
  position: relative;
  left: 160px;
}

.left_161 {
  position: relative;
  left: 161px;
}

.left_162 {
  position: relative;
  left: 162px;
}

.left_163 {
  position: relative;
  left: 163px;
}

.left_164 {
  position: relative;
  left: 164px;
}

.left_165 {
  position: relative;
  left: 165px;
}

.left_166 {
  position: relative;
  left: 166px;
}

.left_167 {
  position: relative;
  left: 167px;
}

.left_168 {
  position: relative;
  left: 168px;
}

.left_169 {
  position: relative;
  left: 169px;
}

.left_170 {
  position: relative;
  left: 170px;
}

.left_171 {
  position: relative;
  left: 171px;
}

.left_172 {
  position: relative;
  left: 172px;
}

.left_173 {
  position: relative;
  left: 173px;
}

.left_174 {
  position: relative;
  left: 174px;
}

.left_175 {
  position: relative;
  left: 175px;
}

.left_176 {
  position: relative;
  left: 176px;
}

.left_177 {
  position: relative;
  left: 177px;
}

.left_178 {
  position: relative;
  left: 178px;
}

.left_179 {
  position: relative;
  left: 179px;
}

.left_180 {
  position: relative;
  left: 180px;
}

.left_181 {
  position: relative;
  left: 181px;
}

.left_182 {
  position: relative;
  left: 182px;
}

.left_183 {
  position: relative;
  left: 183px;
}

.left_184 {
  position: relative;
  left: 184px;
}

.left_185 {
  position: relative;
  left: 185px;
}

.left_186 {
  position: relative;
  left: 186px;
}

.left_187 {
  position: relative;
  left: 187px;
}

.left_188 {
  position: relative;
  left: 188px;
}

.left_189 {
  position: relative;
  left: 189px;
}

.left_190 {
  position: relative;
  left: 190px;
}

.left_191 {
  position: relative;
  left: 191px;
}

.left_192 {
  position: relative;
  left: 192px;
}

.left_193 {
  position: relative;
  left: 193px;
}

.left_194 {
  position: relative;
  left: 194px;
}

.left_195 {
  position: relative;
  left: 195px;
}

.left_196 {
  position: relative;
  left: 196px;
}

.left_197 {
  position: relative;
  left: 197px;
}

.left_198 {
  position: relative;
  left: 198px;
}

.left_199 {
  position: relative;
  left: 199px;
}

.left_200 {
  position: relative;
  left: 200px;
}

.right_1 {
  position: relative;
  right: 1px;
}

.right_2 {
  position: relative;
  right: 2px;
}

.right_3 {
  position: relative;
  right: 3px;
}

.right_4 {
  position: relative;
  right: 4px;
}

.right_5 {
  position: relative;
  right: 5px;
}

.right_6 {
  position: relative;
  right: 6px;
}

.right_7 {
  position: relative;
  right: 7px;
}

.right_8 {
  position: relative;
  right: 8px;
}

.right_9 {
  position: relative;
  right: 9px;
}

.right_10 {
  position: relative;
  right: 10px;
}

.right_11 {
  position: relative;
  right: 11px;
}

.right_12 {
  position: relative;
  right: 12px;
}

.right_13 {
  position: relative;
  right: 13px;
}

.right_14 {
  position: relative;
  right: 14px;
}

.right_15 {
  position: relative;
  right: 15px;
}

.right_16 {
  position: relative;
  right: 16px;
}

.right_17 {
  position: relative;
  right: 17px;
}

.right_18 {
  position: relative;
  right: 18px;
}

.right_19 {
  position: relative;
  right: 19px;
}

.right_20 {
  position: relative;
  right: 20px;
}

.right_21 {
  position: relative;
  right: 21px;
}

.right_22 {
  position: relative;
  right: 22px;
}

.right_23 {
  position: relative;
  right: 23px;
}

.right_24 {
  position: relative;
  right: 24px;
}

.right_25 {
  position: relative;
  right: 25px;
}

.right_26 {
  position: relative;
  right: 26px;
}

.right_27 {
  position: relative;
  right: 27px;
}

.right_28 {
  position: relative;
  right: 28px;
}

.right_29 {
  position: relative;
  right: 29px;
}

.right_30 {
  position: relative;
  right: 30px;
}

.right_31 {
  position: relative;
  right: 31px;
}

.right_32 {
  position: relative;
  right: 32px;
}

.right_33 {
  position: relative;
  right: 33px;
}

.right_34 {
  position: relative;
  right: 34px;
}

.right_35 {
  position: relative;
  right: 35px;
}

.right_36 {
  position: relative;
  right: 36px;
}

.right_37 {
  position: relative;
  right: 37px;
}

.right_38 {
  position: relative;
  right: 38px;
}

.right_39 {
  position: relative;
  right: 39px;
}

.right_40 {
  position: relative;
  right: 40px;
}

.right_41 {
  position: relative;
  right: 41px;
}

.right_42 {
  position: relative;
  right: 42px;
}

.right_43 {
  position: relative;
  right: 43px;
}

.right_44 {
  position: relative;
  right: 44px;
}

.right_45 {
  position: relative;
  right: 45px;
}

.right_46 {
  position: relative;
  right: 46px;
}

.right_47 {
  position: relative;
  right: 47px;
}

.right_48 {
  position: relative;
  right: 48px;
}

.right_49 {
  position: relative;
  right: 49px;
}

.right_50 {
  position: relative;
  right: 50px;
}

.right_51 {
  position: relative;
  right: 51px;
}

.right_52 {
  position: relative;
  right: 52px;
}

.right_53 {
  position: relative;
  right: 53px;
}

.right_54 {
  position: relative;
  right: 54px;
}

.right_55 {
  position: relative;
  right: 55px;
}

.right_56 {
  position: relative;
  right: 56px;
}

.right_57 {
  position: relative;
  right: 57px;
}

.right_58 {
  position: relative;
  right: 58px;
}

.right_59 {
  position: relative;
  right: 59px;
}

.right_60 {
  position: relative;
  right: 60px;
}

.right_61 {
  position: relative;
  right: 61px;
}

.right_62 {
  position: relative;
  right: 62px;
}

.right_63 {
  position: relative;
  right: 63px;
}

.right_64 {
  position: relative;
  right: 64px;
}

.right_65 {
  position: relative;
  right: 65px;
}

.right_66 {
  position: relative;
  right: 66px;
}

.right_67 {
  position: relative;
  right: 67px;
}

.right_68 {
  position: relative;
  right: 68px;
}

.right_69 {
  position: relative;
  right: 69px;
}

.right_70 {
  position: relative;
  right: 70px;
}

.right_71 {
  position: relative;
  right: 71px;
}

.right_72 {
  position: relative;
  right: 72px;
}

.right_73 {
  position: relative;
  right: 73px;
}

.right_74 {
  position: relative;
  right: 74px;
}

.right_75 {
  position: relative;
  right: 75px;
}

.right_76 {
  position: relative;
  right: 76px;
}

.right_77 {
  position: relative;
  right: 77px;
}

.right_78 {
  position: relative;
  right: 78px;
}

.right_79 {
  position: relative;
  right: 79px;
}

.right_80 {
  position: relative;
  right: 80px;
}

.right_81 {
  position: relative;
  right: 81px;
}

.right_82 {
  position: relative;
  right: 82px;
}

.right_83 {
  position: relative;
  right: 83px;
}

.right_84 {
  position: relative;
  right: 84px;
}

.right_85 {
  position: relative;
  right: 85px;
}

.right_86 {
  position: relative;
  right: 86px;
}

.right_87 {
  position: relative;
  right: 87px;
}

.right_88 {
  position: relative;
  right: 88px;
}

.right_89 {
  position: relative;
  right: 89px;
}

.right_90 {
  position: relative;
  right: 90px;
}

.right_91 {
  position: relative;
  right: 91px;
}

.right_92 {
  position: relative;
  right: 92px;
}

.right_93 {
  position: relative;
  right: 93px;
}

.right_94 {
  position: relative;
  right: 94px;
}

.right_95 {
  position: relative;
  right: 95px;
}

.right_96 {
  position: relative;
  right: 96px;
}

.right_97 {
  position: relative;
  right: 97px;
}

.right_98 {
  position: relative;
  right: 98px;
}

.right_99 {
  position: relative;
  right: 99px;
}

.right_100 {
  position: relative;
  right: 100px;
}

.right_101 {
  position: relative;
  right: 101px;
}

.right_102 {
  position: relative;
  right: 102px;
}

.right_103 {
  position: relative;
  right: 103px;
}

.right_104 {
  position: relative;
  right: 104px;
}

.right_105 {
  position: relative;
  right: 105px;
}

.right_106 {
  position: relative;
  right: 106px;
}

.right_107 {
  position: relative;
  right: 107px;
}

.right_108 {
  position: relative;
  right: 108px;
}

.right_109 {
  position: relative;
  right: 109px;
}

.right_110 {
  position: relative;
  right: 110px;
}

.right_111 {
  position: relative;
  right: 111px;
}

.right_112 {
  position: relative;
  right: 112px;
}

.right_113 {
  position: relative;
  right: 113px;
}

.right_114 {
  position: relative;
  right: 114px;
}

.right_115 {
  position: relative;
  right: 115px;
}

.right_116 {
  position: relative;
  right: 116px;
}

.right_117 {
  position: relative;
  right: 117px;
}

.right_118 {
  position: relative;
  right: 118px;
}

.right_119 {
  position: relative;
  right: 119px;
}

.right_120 {
  position: relative;
  right: 120px;
}

.right_121 {
  position: relative;
  right: 121px;
}

.right_122 {
  position: relative;
  right: 122px;
}

.right_123 {
  position: relative;
  right: 123px;
}

.right_124 {
  position: relative;
  right: 124px;
}

.right_125 {
  position: relative;
  right: 125px;
}

.right_126 {
  position: relative;
  right: 126px;
}

.right_127 {
  position: relative;
  right: 127px;
}

.right_128 {
  position: relative;
  right: 128px;
}

.right_129 {
  position: relative;
  right: 129px;
}

.right_130 {
  position: relative;
  right: 130px;
}

.right_131 {
  position: relative;
  right: 131px;
}

.right_132 {
  position: relative;
  right: 132px;
}

.right_133 {
  position: relative;
  right: 133px;
}

.right_134 {
  position: relative;
  right: 134px;
}

.right_135 {
  position: relative;
  right: 135px;
}

.right_136 {
  position: relative;
  right: 136px;
}

.right_137 {
  position: relative;
  right: 137px;
}

.right_138 {
  position: relative;
  right: 138px;
}

.right_139 {
  position: relative;
  right: 139px;
}

.right_140 {
  position: relative;
  right: 140px;
}

.right_141 {
  position: relative;
  right: 141px;
}

.right_142 {
  position: relative;
  right: 142px;
}

.right_143 {
  position: relative;
  right: 143px;
}

.right_144 {
  position: relative;
  right: 144px;
}

.right_145 {
  position: relative;
  right: 145px;
}

.right_146 {
  position: relative;
  right: 146px;
}

.right_147 {
  position: relative;
  right: 147px;
}

.right_148 {
  position: relative;
  right: 148px;
}

.right_149 {
  position: relative;
  right: 149px;
}

.right_150 {
  position: relative;
  right: 150px;
}

.right_151 {
  position: relative;
  right: 151px;
}

.right_152 {
  position: relative;
  right: 152px;
}

.right_153 {
  position: relative;
  right: 153px;
}

.right_154 {
  position: relative;
  right: 154px;
}

.right_155 {
  position: relative;
  right: 155px;
}

.right_156 {
  position: relative;
  right: 156px;
}

.right_157 {
  position: relative;
  right: 157px;
}

.right_158 {
  position: relative;
  right: 158px;
}

.right_159 {
  position: relative;
  right: 159px;
}

.right_160 {
  position: relative;
  right: 160px;
}

.right_161 {
  position: relative;
  right: 161px;
}

.right_162 {
  position: relative;
  right: 162px;
}

.right_163 {
  position: relative;
  right: 163px;
}

.right_164 {
  position: relative;
  right: 164px;
}

.right_165 {
  position: relative;
  right: 165px;
}

.right_166 {
  position: relative;
  right: 166px;
}

.right_167 {
  position: relative;
  right: 167px;
}

.right_168 {
  position: relative;
  right: 168px;
}

.right_169 {
  position: relative;
  right: 169px;
}

.right_170 {
  position: relative;
  right: 170px;
}

.right_171 {
  position: relative;
  right: 171px;
}

.right_172 {
  position: relative;
  right: 172px;
}

.right_173 {
  position: relative;
  right: 173px;
}

.right_174 {
  position: relative;
  right: 174px;
}

.right_175 {
  position: relative;
  right: 175px;
}

.right_176 {
  position: relative;
  right: 176px;
}

.right_177 {
  position: relative;
  right: 177px;
}

.right_178 {
  position: relative;
  right: 178px;
}

.right_179 {
  position: relative;
  right: 179px;
}

.right_180 {
  position: relative;
  right: 180px;
}

.right_181 {
  position: relative;
  right: 181px;
}

.right_182 {
  position: relative;
  right: 182px;
}

.right_183 {
  position: relative;
  right: 183px;
}

.right_184 {
  position: relative;
  right: 184px;
}

.right_185 {
  position: relative;
  right: 185px;
}

.right_186 {
  position: relative;
  right: 186px;
}

.right_187 {
  position: relative;
  right: 187px;
}

.right_188 {
  position: relative;
  right: 188px;
}

.right_189 {
  position: relative;
  right: 189px;
}

.right_190 {
  position: relative;
  right: 190px;
}

.right_191 {
  position: relative;
  right: 191px;
}

.right_192 {
  position: relative;
  right: 192px;
}

.right_193 {
  position: relative;
  right: 193px;
}

.right_194 {
  position: relative;
  right: 194px;
}

.right_195 {
  position: relative;
  right: 195px;
}

.right_196 {
  position: relative;
  right: 196px;
}

.right_197 {
  position: relative;
  right: 197px;
}

.right_198 {
  position: relative;
  right: 198px;
}

.right_199 {
  position: relative;
  right: 199px;
}

.right_200 {
  position: relative;
  right: 200px;
}

/*# sourceMappingURL=style.css.map */
