@use "sass:math";

$bgc: #f0f0f0; // background-color 顏色
$fontBase: 14px; // font size 數字
$m: 10px 10px 10px 10px; //list 列表
$fontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; // 字串
$null: null;
$color: (
  "primary": rgb(255, 255, 255),
  "secondary": rgb(248, 248, 248),
); // map
//斷點

$m_breakpoint: 721px;
$t_breakpoint: 1024px;

/*css 註解*/
//變數的權重

.box {
  $top: 10px; //區域變數
  margin-top: $top;
}
// 改變權重
$bottom: 20px;
$bottom: 40px !default;

$class: marginBottom;
#{$class} {
  margin-bottom: $bottom;
}

body {
  margin: $m;
  font-family: $fontFamily;
  padding: null;
  font-size: $fontBase;
  background-color: $bgc;

  .wrapper {
    width: 100%;
    max-width: 1200px;
    background-color: map-get($color, secondary);
    margin: 0 auto;
    height: auto;
    h1 {
      font-size: $fontBase * 5;
    }
  }
  .index {
    //  首頁
    .title {
      color: aqua;
    }
  }
  .about {
    //關於我們
    .title {
      color: bisque;
    }
  }
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #333;
  }
}

.btn {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  &.default {
    background-color: #001aff;
    &:hover {
      background-color: rgb(6, 0, 184);
    }
  }
  &.error {
    background-color: #f20;
    &:hover {
      background-color: rgb(156, 0, 8);
    }
  }
  &.info {
    background-color: #78e0ff;
    &:hover {
      background-color: rgb(0, 121, 148);
    }
  }
}

// mixin 樣式複用
@mixin center($top, $bottom: 0px) {
  margin: $top auto $bottom;
}
@mixin react($w, $h: $w) {
  width: $w;
  height: $h;
}

.clear {
  height: 1px;
}

.boxcenter {
  @include react(400px);
  @include center(20px);
  background-color: rgb(60, 254, 108);
}

@mixin btn($size, $bgc, $color, $borderRadius: null) {
  background-color: $bgc;
  text-align: center;
  width: $size;
  padding: 10px;
  font-size: 20px;
  color: $color;
  cursor: pointer;
  border-radius: $borderRadius;
  transition: 0.2 all ease-in-out;

  &:hover {
    background-color: darken($bgc, 10);
  }
}

.btn-default {
  @include btn(100px, #f95300, #000000, 10px);
  @include center(0px);
}

.btn-default-xl {
  @include btn(300px, #00f100, #00ffee);
  @include center(0px);
}

.btn-default-xxl {
  @include btn(500px, #f1f900, rgb(255, 0, 234));
  @include center(0px);
}

// ============= layout 使用 ==========//
// @include layout(寬度)
// 寬度給100% 就是滿版
@mixin layout($style) {
  @if $style == 100% {
    width: 100%;
  } @else {
    width: $style;
    margin: 0 auto;
  }
}
// 手機板 respond
@mixin m {
  @media all and (max-width: $m_breakpoint) {
    //手機板
    @content;
  }
}

@mixin t {
  @media all and (max-width: $t_breakpoint) {
    //手機板
    @content;
  }
}

@mixin r($breakpoint) {
  @media all and (max-width: $breakpoint) {
    //自訂義斷點
    @content;
  }
}

.wrapper_full {
  @include layout(100%);
}

.wrapper_fixed {
  @include layout(1200px);
  @include r(800px) {
    @include layout(66%);
  }
  @include t {
    @include layout(80%);
  }
  @include m {
    @include layout(100%);
  }
}
section {
  @include layout(1200px);
  background-color: #003cff;
  min-height: 300px;
  @include t {
    @include layout(100%);
  }
  @include m {
    @include layout(100%);
  }
}

@include t {
  h1 {
    font-size: 120px;
    color: #f20;
  }
}

@include m {
  h1 {
    font-size: 70px;
    color: rgb(255, 0, 234);
  }
}

//  sass 1.32之後的版本 除法 要用math.div( 分子 ,  分母)
.default {
  width: 10px + 10;
  height: 100 - 10px;
  //  margin:  10px * 10;
  // font:  (100px / 10);
  font: math.div(100, 20) + px// 除法比較特殊;
}
@mixin title($fontBase) {
  h1 {
    font-size: round($fontBase * 5);
  }
  h2 {
    font-size: round($fontBase * 4);
  }
  h3 {
    font-size: round($fontBase * 3.6);
  }
  h4 {
    font-size: round($fontBase * 2.8);
  }
  h5 {
    font-size: round($fontBase * 1.2);
  }
  h6 {
    font-size: round($fontBase * 1);
  }
}

@include title($fontBase);
