@use "sass:math";
@import "base/reset";
@import "base/color";
@import "base/breakpoint";
@import "base/font";
@import "mixin/mixin";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// page
@import "page/index";
@import "page/about";

/*css 註解*/
//變數的權重

.box {
  $top: 10px; //區域變數
  margin-top: $top;
}
// 改變權重
$bottom: 20px;
$bottom: 40px !default;

$bgc: #b4dcff; // background-color 顏色

$class: marginBottom;
#{$class} {
  margin-bottom: $bottom;
}

body {
  margin: $m;
  font-family: $fontFamily;
  padding: null;
  font-size: $fontBase;
  background-color: $bgc;

  .wrapper {
    width: 100%;
    max-width: 1200px;
    background-color: map-get($color, secondary);
    margin: 0 auto;
    height: auto;
    h1 {
      font-size: $fontBase * 5;
    }
  }
  .index {
    //  首頁
    .title {
      color: aqua;
    }
  }
  .about {
    //關於我們
    .title {
      color: bisque;
    }
  }
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: #333;
  }
}

.btn {
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  &.default {
    background-color: #001aff;
    &:hover {
      background-color: rgb(6, 0, 184);
    }
  }
  &.error {
    background-color: #f20;
    &:hover {
      background-color: rgb(156, 0, 8);
    }
  }
  &.info {
    background-color: #78e0ff;
    &:hover {
      background-color: rgb(0, 121, 148);
    }
  }
}

.clear {
  height: 1px;
}

.boxcenter {
  @include react(400px);
  @include center(20px);
  background-color: rgb(60, 254, 108);
}

.btn-default {
  @include btn(100px, #f95300, #000000, 10px);
  @include center(0px);
}

.btn-default-xl {
  @include btn(300px, #00f100, #00ffee);
  @include center(0px);
}

.btn-default-xxl {
  @include btn(500px, #f1f900, rgb(255, 0, 234));
  @include center(0px);
}

.wrapper_full {
  @include layout(100%);
}

.wrapper_fixed {
  @include layout(1200px);
  @include r(800px) {
    @include layout(66%);
  }
  @include t {
    @include layout(80%);
  }
  @include m {
    @include layout(100%);
  }
}
section {
  @include layout(1200px);
  background-color: #003cff;
  min-height: 300px;
  @include t {
    @include layout(100%);
  }
  @include m {
    @include layout(100%);
  }
}

@include t {
  h1 {
    font-size: 120px;
    color: #f20;
  }
}

@include m {
  h1 {
    font-size: 70px;
    color: rgb(255, 0, 234);
  }
}

//  sass 1.32之後的版本 除法 要用math.div( 分子 ,  分母)
.default {
  width: 10px + 10;
  height: 100 - 10px;
  //  margin:  10px * 10;
  // font:  (100px / 10);
  font: math.div(100, 20) + px// 除法比較特殊;
}

@include title($fontBase);

.text {
  @include font(bold);
}

@for $i from 1 through 10 {
  .a#{$i} {
    margin: $i * 1px;
  }
}

@mixin space($dis,$num) {
  @for $i from 1 through $num {
    .#{$dis}_#{$i} {
      position: relative;
      #{$dis}: $i * 1px;
    }
  }
}


@include space(top , 200);
@include space(left , 200);
@include space(right , 200);