body {
    font-size: 16px;
    background-color: #1325e8;
    height: 1900px;
    header {
      width:  100vw;
      height: 80px;
      background-color: rgb(255, 221, 221);
      h1 {
       font-size: 30px;
       font-weight: bold;

      }
    }
 }
