.about {
  
}

.col-4 {
    min-height: 400px ;
    &.a {
     background-color: rgb(216, 255, 40);

    }
    &.b{
    background-color: rgb(62, 216, 15);

    }
    &.c{
     background-color: aqua;

    } 
 
 } 
