$color: (
  "primary": rgb(255, 255, 255),
  "secondary": rgb(248, 248, 248),
); // map

$bgc: #f0f0f0 !default; // background-color 顏色


$colorStyle: (
  "primary": blue,
  "secondary": yellow,
  "info": green,
  "error": rgb(212, 68, 1),
  "alert": #ff00ff,
);