
$fontBase: 14px; // font size 數字
$m: 10px 10px 10px 10px; //list 列表
$fontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; // 字串
$null: null;
$fontStyle : (
"h1" : 96px,
"h2" : 60px,
"h3" : 48px,
"h4" : 34px,
"h5" : 28px,
"h6" : 20px,
);

