// mixin 樣式複用
@mixin center($top, $bottom: 0px) {
    margin: $top auto $bottom;
  }
  @mixin react($w, $h: $w) {
    width: $w;
    height: $h;
  }

  // btn 
  @mixin btn($size, $bgc, $color, $borderRadius: null) {
    background-color: $bgc;
    text-align: center;
    width: $size;
    padding: 10px;
    font-size: 20px;
    color: $color;
    cursor: pointer;
    border-radius: $borderRadius;
    transition: 0.2 all ease-in-out;
  
    &:hover {
      background-color: darken($bgc, 10);
    }
  }

  // ============= layout 使用 ==========//
// @include layout(寬度)
// 寬度給100% 就是滿版
@mixin layout($style) {
    @if $style == 100% {
      width: 100%;
    } @else {
      width: $style;
      margin: 0 auto;
    }
  }


  // 手機板 respond
  // @include m {手機板屬性}
  // @include t {平板屬性}

@mixin m {
    @media all and (max-width: $m_breakpoint) {
      //手機板
      @content;
    }
  }
  
  @mixin t {
    @media all and (max-width: $t_breakpoint) {
      //平板
      @content;
    }
  }
  
  @mixin r($breakpoint) {
    @media all and (max-width: $breakpoint) {
      //自訂義斷點
      @content;
    }
  }
  
//標題大小

  @mixin title($fontBase) {
    h1 {
      font-size: round($fontBase * 5);
    }
    h2 {
      font-size: round($fontBase * 4);
    }
    h3 {
      font-size: round($fontBase * 3.6);
    }
    h4 {
      font-size: round($fontBase * 2.8);
    }
    h5 {
      font-size: round($fontBase * 1.2);
    }
    h6 {
      font-size: round($fontBase * 1);
    }
  }


 // 常用字體大小 
  @mixin font($size:medium){ 
    @if $size == bold { 
      font-size: 46px;
      font-weight: bold;
    }@else if $size  == medium {
      font-size: 20px;
      font-weight: 400;
    }@else if $size == light {
      font-size: 16px;
      font-weight: 100;
    }
  } 


  // 物件距離
// @include space(top方向 , 200數量)
@mixin space($dis, $num , $style:true) {
    @for $i from 1 through $num {
        .#{$dis}_#{$i} {
        @if $style {
          position: relative;
          #{$dis}: $i * 1px;
        }@else {
          margin-#{$dis}: $i * 1px 
      }
      } 
    }
  }

// 格線系統
  @mixin grid($num, $style: null) {
    @for $i from 1 through $num {
      .col-#{$style}#{$i} {
        width: math.div($i, $num) * 100%;
      }
    }
  }

